<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title>AZ_Plastering</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <input type="checkbox" id="click">
      <label for="click">
      <i class="fab fa-facebook-messenger"></i>
      <i class="fas fa-times"></i>
      </label>
      <div class="wrapper">
        <div class="head-text">
           Let's chat? With AZ_Plastering
        </div>
        <div class="form">
            <div class="bot-inbox inbox">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="msg-header">
                    <p>Hello there, how can I help you?</p>
                </div>
            </div>
        </div>
        <div class="typing-field">
            <div class="userInput">
                <input id="data" type="text" placeholder="Type something here.." required>
                <button type ="submit" id="send-btn">Send</button>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function(){
            $("#send-btn").on("click", function(event){
                var rawText = $("#data").val();
                $msg = '<div class="user-inbox inbox"><div class="msg-header"><p>'+ rawText +'</p></div></div>';
                $(".form").append($msg);
                $("#data").val('');
                
                // start ajax code
                $.ajax({
                    data: {
                        msg: rawText,
                    },
                    type: "POST",
                    url: "/chatbot",
                }).done(function(data) {
                
                var botHtml = '<div class="bot-inbox inbox"><div class="icon"><i class="fas fa-user"></i></div><div class="msg-header"><p>'+ data +'</p></div></div>';
                    $(".form").append($.parseHTML(botHtml));
                    document.getElementById("user-inbox inbox").scrollIntoView({
                        block: "start",
                        behavior: "smooth",
                    });
                });
                event.preventDefault();
            });
        });
                
                
                
    </script>
    <script>
        $(document).ready(function() {
            $("form").on("submit", function(event) {
                var rawText = $("#text").val();
                var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
                $("#text").val("");
                $("#chatbox").append(userHtml);
                document.getElementById("userInput").scrollIntoView({
                    block: "start",
                    behavior: "smooth",
                });
                $.ajax({
                    data: {
                        msg: rawText,
                    },
                    type: "POST",
                    url: "/chatbot",
                }).done(function(data) {
                    var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                    $("#chatbox").append($.parseHTML(botHtml));
                    document.getElementById("userInput").scrollIntoView({
                        block: "start",
                        behavior: "smooth",
                    });
                });
                event.preventDefault();
            });
        });
    </script>
</body>

</html>
